body {
	background-image: url(../../images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.warehouseManagementBubble .ui-menu-child {
	white-space: nowrap;
	width: 325px !important;
}

.wareManagementBubble .ui-menu-child {
	white-space: nowrap;
	width: 345px !important;
}

.orderedWaresBubble .ui-menu-child {
	white-space: nowrap;
	width: 225px !important;
}

.ui-datalist .ui-datalist-header, .ui-datalist .ui-datalist-footer, .ui-datalist-data {
	text-align: center;
	padding: 4px 10px;
	margin-right: 10px;
    margin-left: 10px;
	height: 180px;
	overflow: auto;
}