body {
	background-image: url(../../images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.warehouseManagementBubble .ui-menu-child {
	white-space: nowrap;
	width: 325px !important;
}

.wareManagementBubble .ui-menu-child {
	white-space: nowrap;
	width: 345px !important;
}

.orderedWaresBubble .ui-menu-child {
	white-space: nowrap;
	width: 225px !important;
}

.ui-datatable table {
    text-align: center;
}